body {
  font-family: "Open Sans", sans-serif;
  background-color: #233237;
}
blockquote {
  border-left-color: #7EB3B6;
  background-color: rgba(23, 32, 37, 0.55);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
}
#quote {
  font-size: 4em;
  color: #BFE5E5;
}
#author {
  font-size: 2em;
  color: #7EB3B6;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
