doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Quotes')
    title Quotes

    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

    // build:css styles/main.min.css
    link(rel='stylesheet', href='css/main.css')
    // endbuild

  body

    .container.vertical-center
      blockquote
        p#quote Hello, World!
        footer#author Brian Kernighan

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='script/main.min.js')
